.hamburger {
    width: 24px;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 10px;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}