.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
} 

.header__container {

    @include tablets {
        height: 91px;
        width: 100%;
        background: #1968B1;
        margin: 0;
        padding: 0;
    }
}